[submodule "thirdparty/contiki"]
	path = thirdparty/contiki
	url = https://github.com/whitefield-framework/contiki
	branch = master
[submodule "thirdparty/ns-3-dev-git"]
	path = thirdparty/ns-3-dev-git
	url = https://github.com/whitefield-framework/ns-3-dev-git
	branch = master
[submodule "thirdparty/RIOT"]
	path = thirdparty/RIOT
	url = https://github.com/whitefield-framework/RIOT
	branch = master
[submodule "thirdparty/openthread"]
	path = thirdparty/openthread
	url = https://github.com/whitefield-framework/openthread
	branch = master
[submodule "thirdparty/contiki-ng"]
	path = thirdparty/contiki-ng
	url = https://github.com/whitefield-framework/contiki-ng
	branch = master
